body {
    height: 2000px;
}
h4 {
    margin: 0;
}
p {
    margin: 0;
    padding: 10px;
}
.text-center {
    text-align: center;
}
.pricing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.grid-content {
    /* border: 2px solid blue; */
    padding: 40px;
}
.pricing img {
    width: 100px;
}
.pricing h3 {
    padding: 10px;
}
.bar-1 {
    /* border: 2px solid red; */
    width: 40px;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}