.container {
    width: 800px;
}

.header {
    width: 100%;
    /* 페이지에 폭이 꽉 차게 */
    height: 50px;
    background-color: #D6D6D6;
    /* float: left; */
}

.left {
    width: 20%;
    height: 500px;
    background-color: thistle;
    float: left;
}

.right {
    width: 80%;
    height: 500px;
    background-color: coral;
    float: left;
    /* left 박스 아래에 깔린 영역을 빼주기 위해 왼쪽정렬 -> 상단 header 너비에 딱 맞게 분할됨*/
}

.footer {
    width: 100%;
    height: 50px;
    background-color: darkblue;
    clear: both;
    /* float 속성 무시하고 div box 잘 보이게 해주세요 */
}