.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    padding: 10px;
}
.grid-container div {
    border: 1px solid black;
}
.grid-nav {
    grid-column: 1 / 4;
}